<html>
<body>
<div>
    <i>Skif Auto</i>
</div>
<div>
    <form>
        <button type="submit" name="addPage">Add page</button>
    </form>
</div>
<div>
    <form>
        <button type="submit" name="searchPage">Search page</button>
    </form>
</div>
</body>
</html>