<html>
<head>
    <style>
        html{
            background-color: cyan;
        }

        i{
            color: blueviolet;
            font-size: 80px;
        }
        label{
            font-size: 20px;
        }
        button{
            background-color: darkblue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div>
    <i>Skif Auto</i>
</div>
<div>
    <form>
        <label for="addPage">Go to add page:</label>
        <button type="submit" name="addPage">Add page</button>
    </form>
</div>
<div>
    <form>
        <label for="searchPage">Go to add page:</label>
        <button type="submit" name="searchPage">Search page</button>
    </form>
</div>
</body>
</html>