<html>
<body>
<div>
    <i>Add new part:</i>
    <form method="post">
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="partNumber" placeholder="Part number"/>
        <input type="text" name="manufacturer" placeholder="Manufacturer"/>
        <input type="text" name="forModel" placeholder="For model"/>
        <input type="text" name="purchasePrice" placeholder="Purchase price"/>
        <input type="text" name="salePrice" placeholder="Sale price"/>
        <button type="submit">Enter</button>
    </form>
</div>
<div>
    <form>
        <button type="submit" name="back_to_menu">Menu</button>
    </form>
</div>
</body>
</html>